.root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_wrap {
    background-color: rgb(235, 236, 240);;
    border-radius: 8px;
    box-shadow: 1px 2px 10px rgba($color: #000000, $alpha: .3);
    padding: 48px 24px 24px;
    width: 450px;
}