.footer {
    flex-shrink: 0;
    background-image: url(../img/footer_b.jpg);
    background-position: center;
    background-size: cover;
}

.footer > h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: transparent;
    margin: auto;
    text-align: end;
    text-shadow: 3px 3px 3px #777;
    padding-right: 1vw;
}
