.root {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.form {
	margin-bottom: 24px;
}

input, button {
	margin: 5px;
}

.input {
	font-size: 20px;
	margin: 10px;
}

.button {
	font-size: 20px;
	margin: 10px;
}

.preview {
	display: flex;
	justify-content: center;
	align-items: center;
}