.cover {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #fff;
    background-image: url(../img/chess.jpg);

    .wrap {
        position: relative;
        z-index: 1;
        padding: 100px 16px;
        max-width: 1024px;
    }

    .header {
        font-size: 68px;
        color: darkslategrey;
        padding: 24px 0;
    }
}
