.buttom_logout {
	text-align: end;
	font-size: medium;
}

.button_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin: 10px;
}

.counter_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}
