.root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.card {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    perspective: 1000px;
    height: 30px;
    width: 140px;
    margin: 12px;

    &.done {
        .cardInner {
            transform: rotateX(180deg);
        }
    }
}

.cardInner {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.isRemembered {
    .cardFront,
    .cardBack {
        text-decoration: line-through double #0f0;
    }
}

.cardFront {
    background-color: #fff;
    color: black;
}

.cardBack {
    background-color: #bbb473;
    color: black;
    transform: rotateX(180deg);
}

.icons {
    font-size: 26px;
    &:hover {
        color: #0f0;
    }
}
